<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
    </trace>
    <sources>
      <source name="TileGenerator" switchValue="Verbose">
        <listeners>
          <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WWTTileGenerator"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
