<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IEExploreerExePath" value="C:\Windows\winsxs\x86_microsoft-windows-i..etexplorer-optional_31bf3856ad364e35_8.0.7600.16671_none_b34dce2a8616cbea\iexplore.exe"/>
    <add key="WebServerExePath" value="C:\\Program Files\\Common Files\\microsoft shared\\DevServer\\10.0\\WebDev.WebServer40.EXE"/>
    <add key ="WebServicePhycalPath" value="D:\WWTTFS\WWTE\Dev\Source\SDK\SharingServiceWeb"/>
    <add key ="PortNumber" value ="18079" />
    <add key ="AspxPage" value ="http://localhost:18079/TileServiceSample.aspx"/>
  </appSettings>
</configuration>